* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

nav h2 {
  font-size: 24px;
  color: #f9faf8;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

nav ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: block;
  background-color: #3882f6;
  color: white;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

.hero-heading {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
  float: left;
}

.hero-image {
  width: 450px;
  height: 200px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.hero {
  background-color: #1f2937;
}

.hero {
  padding: 16px 10%;
}
