* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

nav h2 {
  font-size: 24px;
  color: #f9faf8;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

nav ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.hero {
  background-color: #1f2937;
}

.hero {
  padding: 16px 10%;
}

.hero-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 64px 0;
}

.hero-image {
  width: 479px;
  height: 200px;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  margin-top: 6px;
  background-color: #3882f6;
  color: #e5e7eb;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.hero-group {
  align-self: center;
}

.random-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 20px;
  margin: 12px;
  background-color: #fff;
}

.random-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.random-images {
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-align: center;
}

.image-one,
.image-two,
.image-three,
.image-four {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 8% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
}

.quote-author {
  align-self: flex-end;
  font-weight: bold;
}
